.book-show{
    border: 2px solid lightgray;
    margin: 10px;
    width: 300px;
    height: 300px;
    box-shadow: 3px 4px 7px 7px lightgray;
    position: relative;
    text-align: center;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
}

.book-buttons{
    position: absolute;
    right: 0px;
    top: 0px;
}

.edit ,.delete {
    margin: 2px;
    border-radius: 50%;
    cursor: pointer; 

}

.book-image{
    margin-top: 30px;
    margin-bottom: 10px;
}


img{
    width: 200px;
    height: 200px;
}
